:root, .light {
    --md-sys-color-custom: #8B992F;
    --md-sys-color-on-custom: #FFFFFF;
    --md-sys-color-custom-container: #DFE6B3;
    --md-sys-color-on-custom-container: #2E3310;
}
.dark {
    --md-sys-color-custom: #DCE69F;
    --md-sys-color-on-custom: #464C18;
    --md-sys-color-custom-container: #5D6620;
    --md-sys-color-on-custom-container: #DFE6B3;
}
