@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(0, 153, 140);
  --primary-color-a8: rgba(0, 153, 140, 0.08);
  --on-primary-color: white;
  --primary-container-color: #b3fff9;
  --on-primary-container-color: #002925;
  --secondary-color: rgb(140, 60, 63);
  --secondary-color-a8: rgba(140, 60, 63, 0.08);
  --on-secondary-color: #f6eeef;
  --secondary-container-color: #e4cdcf;
  --on-secondary-container-color: #1b0e0f;
  --primary-container-color-a18: rgba(89, 108, 107, 0.12);
  --surface-dim: #DED8E1;
  --surface: #FEF7FF;
  --surface-bright: #FEF7FF;
  --surface-container: #F3EDF7;
  --on-surface: #1D1B20;
  --on-surface-var: #49454F;
  --outline: #79747E;
  --outline-var: #CAC4D0;
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

[m-theme=dark] {
  --primary-color: #b3fff9;
  --primary-color-a8: rgba(179, 255, 249, 0.08);
  --on-primary-color: #00665e;
  --primary-container-color: #1f7a73;
  --on-primary-container-color: #d1faf7;
  --secondary-color: #e4cdcf;
  --secondary-color-a8: rgba(228, 205, 207, 0.08);
  --on-secondary-color: #422426;
  --secondary-container-color: #564344;
  --on-secondary-container-color: #f5d6d9;
  --surface-dim: #141218;
  --surface: #141218;
  --surface-bright: #3B383E;
  --surface-container: #211F26;
  --on-surface: #E6E0E9;
  --on-surface-var: #CAC4D0;
  --outline: #938F99;
  --outline-var: #49454F;
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.m-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.m-display-large {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.m-display-medium {
  font-size: 45px;
  line-height: 52px;
}

.m-display-small {
  font-size: 36px;
  line-height: 44px;
}

.m-headline-large {
  font-size: 32px;
  line-height: 40px;
}

.m-headline-medium {
  font-size: 28px;
  line-height: 36px;
}

.m-headline-small {
  font-size: 24px;
  line-height: 32px;
}

.m-title-large {
  font-size: 22px;
  line-height: 28px;
}

.m-title-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.m-title-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.1px;
}

.m-label-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.m-label-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.m-label-small {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  letter-spacing: 0.5px;
}

.m-body-large {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.5px;
}

.m-body-medium {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
}

.m-body-small {
  font-size: 12px;
  line-height: 16px;
}

/*# sourceMappingURL=global.css.map */
