@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: rgb(75, 121, 32);
  --primary-color-a8: rgba(75, 121, 32, 0.08);
  --on-primary-color: white;
  --primary-container-color: #d7ffb3;
  --on-primary-container-color: #142009;
  --secondary-color: rgb(116, 61, 92);
  --secondary-color-a8: rgba(116, 61, 92, 0.08);
  --on-secondary-color: #f2eef6;
  --secondary-container-color: #d9cde4;
  --on-secondary-container-color: #150e1b;
  --primary-container-color-a18: rgba(102, 112, 92, 0.12);
  --surface-dim: #ced1c9;
  --surface: #fbf5fb;
  --surface-bright: #FEF7FF;
  --surface-container-lowest: #FFFFFF;
  --surface-container-low: #e8eae5;
  --surface-container: #e2e4df;
  --surface-container-high: #d9dcd4;
  --surface-container-highest: #d1d6cb;
  --on-surface: #1D1B20;
  --on-surface-var: #49454F;
  --outline: #79747E;
  --outline-var: #CAC4D0;
  --elevation-1: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 1px 3px 1px rgba(0, 0, 0, 0.15);
  --elevation-2: 0px 1px 2px rgba(0, 0, 0, 0.3), 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

[m-theme=dark] {
  --primary-color: #d7ffb3;
  --primary-color-a8: rgba(215, 255, 179, 0.08);
  --on-primary-color: #325116;
  --primary-container-color: #4b7a1f;
  --on-primary-container-color: #e5fad1;
  --secondary-color: #d9cde4;
  --secondary-color-a8: rgba(217, 205, 228, 0.08);
  --on-secondary-color: #342442;
  --secondary-container-color: #4d4356;
  --on-secondary-container-color: #e6d6f5;
  --surface-dim: #141218;
  --surface: #141218;
  --surface-bright: #3B383E;
  --surface-container-lowest: #0F0D13;
  --surface-container-low: #1D1B20;
  --surface-container: #211F26;
  --surface-container-high: #2B2930;
  --surface-container-highest: #36343B;
  --on-surface: #E6E0E9;
  --on-surface-var: #CAC4D0;
  --outline: #938F99;
  --outline-var: #49454F;
  --elevation-1: 0px 1px 3px 1px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-2: 0px 2px 6px 2px rgba(0, 0, 0, 0.15), 0px 1px 2px rgba(0, 0, 0, 0.3);
  --elevation-3: 0px 4px 8px 3px rgba(0, 0, 0, 0.15), 0px 1px 3px rgba(0, 0, 0, 0.3);
}

.m-text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
}

.m-display-large {
  font-size: 57px;
  line-height: 64px;
  letter-spacing: -0.25px;
}

.m-display-medium {
  font-size: 45px;
  line-height: 52px;
}

.m-display-small {
  font-size: 36px;
  line-height: 44px;
}

.m-headline-large {
  font-size: 32px;
  line-height: 40px;
}

.m-headline-medium {
  font-size: 28px;
  line-height: 36px;
}

.m-headline-small {
  font-size: 24px;
  line-height: 32px;
}

.m-title-large {
  font-size: 22px;
  line-height: 28px;
}

.m-title-medium {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.15px;
}

.m-title-small {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.1px;
}

.m-label-large {
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.m-label-medium {
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.5px;
}

.m-label-small {
  font-weight: 500;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */
  letter-spacing: 0.5px;
}

.m-body-large {
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: 0.5px;
}

.m-body-medium {
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */
  letter-spacing: 0.25px;
}

.m-body-small {
  font-size: 12px;
  line-height: 16px;
}

/*# sourceMappingURL=global.css.map */
